@font-face {
  font-family: "cq";
  src: url("./33407_SCOTTN.ttf") format("truetype");
}

.App {
  text-align: center;
}

.crownquest {
  height: 5vh;
  font-family: "cq";
  font-size: 4vh;
  color: #076324;
  text-align: center;
  background-color: #000000;
  position: sticky;
  top:0px;
  z-index: 100;
}